* {
  box-sizing: border-box;
}

.img1,
.img2,
.img3 {
  display: flex;
  align-items: center;
  width: 100%;
  padding-bottom: 1rem;
}

.summary,
p {
  color: #171a1f;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
}

.total_end {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.total_price {
    /*width: 100px;*/
    text-align: center;
    margin-left: 100px;
    top: 10px;
}

.buttonCart_payment {
  font-size: 16px;
  color: #fff;
  width: 20%;
  border: 0;
  border-radius: 25px;
  background-color:#0d554a;;
  cursor: pointer;
  padding: 10px 20px;
  }