body {
  font-family: Arial, Helvetica, sans-serif;
  min-width: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0d554a;
}

.fondo-body{
  background-image: url("../assets/vector.png");
}

.imagen_tarjeta {
  height: 15px;
}

.imagen_tarjeta:nth-child(2){
  margin: 0 5px;
}

.vector_form {
  background-size: cover;
  background-position: center; /*arreglar*/
}

  .title_form {
    display: flex;
    justify-content: center;
  }

  span {
    display: flex;
    justify-content: center;
  }

  form {
    padding: 50px 55px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    text-align: center;
    width: 400px;
    background-color: #EDFFF0; 
}

.input-group {
  display: flex;
  flex-direction: column;
  text-align: left;
}

label {
  color: #283629;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

.estilo_input {
  padding: 0 0 0 10px;
  height: 37px;
  border-radius: 25px;
  margin-bottom: 20px;
  background-color: #EDFFF0;
  border: 2px solid #F0faf1;
  color: #283629;
  outline: none;
  border: solid #f2c66d;
}

.estilo_input_fecha {
  padding: 0 10px;
}

.mensaje_error {
  text-align: center;
  color: red;
  padding-bottom: 15px;
}

.contenedor-input-icons > input {
  background-color: #EDFFF0;
  border: 2px solid #F0faf1;
  color: #283629;
  outline: none;
  width: 200px;
}

.contenedor-input-icons{
  display:flex;
  align-items:center;
}

.contenedor-iconos {
  display:flex;
  align-items:center;
}


#submitButton {
font-size: 16px;
color: #fff;
border: 0;
border-radius: 25px;
background-color: #389b34;
cursor: pointer;
padding: 10px 0;
}

#submitButton:hover {
  background-color: #1fda18;
  }
  
  .ocultar {
    display: none;
  }

      /*Responsive design*/
  @media (max-width: 991px) {
      body {
          padding: 30px;
      }
  
      form {
          padding: 50px 30px;
          width: 100%; 
      }
  
      input {
          padding: 15px;
      }
  }






