body {
    font-family: Arial, Helvetica, sans-serif;
    min-width: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0d554a;
}

.fondo-body{
    background-image: url("../assets/vector.png");
  }
  
form {
    padding: 50px 55px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    text-align: center;
    width: 340px;
    background-color: #EDFFF0; 
}

.input-group {
    display: flex;
    flex-direction: column;
    text-align: left;
}

h2 {
    color: #283629;
    font-size: 35px;
}

label {
    color: #283629;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}

input, textarea {
    padding: 17px 25px;
    border-radius: 25px;
    margin-bottom: 20px;
    background-color: #EDFFF0;
    border: 2px solid #F0faf1;
    color: #283629;
    outline: none;
    border: solid #f2c66d;
}

input::placeholder, textarea::placeholder {
    color: #b5cab6;
}

.btn {
font-size: 16px;
color: #FFFFFF;
border: 0;
border-radius: 25px;
background-color: #389b34;
box-shadow: 0 0 20px rgba(25, 254, 0, 0.4);
border: solid  #f2c66d;
cursor: pointer;
}

.btn:hover {
background-color: #50E04B;
}

.ocultar {
    display: none;
}

.ocultar, p {
color: red;
}
  

     /*Responsive design*/
@media (max-width: 991px) {
    body {
        padding: 30px;
    }

    form {
        padding: 50px 30px;
        width: 100%; 
    }

    input {
        padding: 15px;
    }
}