@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;500;600&family=Roboto:wght@300&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}
header {
  background-color: #093931;
}
.section1 {
  height: 100vh;
  width: 100%;
  background-color: #093931;
  background-image: url(/assets/olas_\ blancas.png);
}
h1 {
  color: #f5d38e;
  margin: 18px;
  font-family: "Comic Neue", cursive;
  font-family: "Fondamento", cursive;
  font-family: "Lora", serif;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /*width: 1440px;
  height: 62px;*/
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 1.5rem;
  cursor: pointer;
  flex-shrink: 0;
  font-family: "Manrope", sans-serif;
  font-weight: 100;
}

nav a:hover {
  color: #f2c66d;
  justify-content: flex-end;
}
h2 {
  font-weight: 400;
  font-size: 50px;
  font-style: normal;
  line-height: 94px;
  color: #f5d38e;
  font-family: "Comic Neue", cursive; /*preg si puedo usar la fuente de letra una vez*/
  font-family: "Fondamento", cursive;
  font-family: "Lora", serif;
}
.iconoseccion {
  margin-left: 10px;
}

.shoppingcar {
  margin-left: 10px;
}

.container-iconhamburger {
  margin-left: 200px;
}
.container-iconhamburger {
  display: none;
}
.container-title {
  padding-left: 17%;
  padding-top: 9%;
  line-height: 2;
}
main button {
  display: inline-flex;
  padding: 12px 59px;
  justify-content: center;
  align-items: center;
  border-radius: 26px;
  border: 1px solid #f3f3f5;
  background-color: transparent;
  color: #ffffff;
  font-size: 1.7rem;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.shoppingcar,
.iconoseccion {
  width: 20px;
  height: 18px;
}
.icono-services {
  width: 50px;
  height: auto;
}

.container-section1 {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.section1-imagenes {
  width: 700px;
}

.primeraimagen {
  width: 25%;
  flex-shrink: 1;
  border-radius: 8px;
  position: absolute;
  right: 20%;
  top: 25%;
}
.segundaimagen {
  height: 321px;
  width: 16%;
  flex-shrink: 0;
  border-radius: 121px 121px 0px 0px;
  position: absolute;
  right: 13%;
  top: 40%;
}

.img-vector img {
  width: 100%;
}
.menu a:hover,
.menu a.active {
  border-bottom: 3px solid #f2c66d;
  padding-bottom: 8px;
  color: #f2c66d;
}
/* Section 2 */
/*#section2 {
  /*height: 80vh;
}*/

.container-services {
  display: flex;
  justify-content: center;
  gap: 90px;
  padding-top: 3%;
}
.card-service {
  display: flex;
  width: 350px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.card-service .p-information {
  color: #9095a0;
  text-align: center;
}
/*segunda parte de la section 2*/

.container-featured {
  position: relative;
  display: flex;
  justify-content: center;
}
.container-enunciado {
  position: relative;
  padding: 20px;
  text-align: center;
  background-color: #ffffff;
  border-radius: 8px;
  margin-right: 132px; /* Espacio entre el área de enunciado y las tarjetas */
  bottom: -48px;
}
.container-enunciado h3 {
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
  color: #0d554a;
}
.container-enunciado p {
  color: #9095a0;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.container-enunciado button {
  display: inline-flex;
  padding: 12px 59px;
  justify-content: center;
  align-items: center;
  border-radius: 26px;
  border: 1px solid;
  border-color: #0d554a;
  color: #0d554a;
}

.card-sliderP {
  position: relative;
  width: 300px; /* Ancho de cada tarjeta */
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  box-sizing: border-box;
  margin-right: 20px; /* Espacio entre las tarjetas */
  bottom: -48px;
  text-align: center;
}
.img-slider {
  max-width: 100%;
  height: auto;
  border-radius: 4px; /* Bordes redondeados para la imagen */
}

.title-container h2 {
  color: #0d554a;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
  padding-top: 40px;
}

.collections-container {
  display: grid;
  grid-template-columns: repeat(3, 360px);
  justify-content: center;
  gap: 35px;
}
.card-collection {
  position: relative;
  transition: transform 0.3s ease-in-out;
}
.card-collection:hover {
  transform: scale(1.1);
}
.img-collection {
  border-radius: 10px;
}
.title-collection {
  position: absolute;
  color: white;
  font-size: 1.5em;
  font-weight: 100;
  left: 25%;
  top: 80%;
}
.btn-shopContainer {
  display: flex;
  justify-content: center;
}
.btn {
  padding: 12px 59px;
  justify-content: center;
  align-items: center;
  border-radius: 26px;
  border: 1px solid;
  border-color: #0d554a;
  color: #0d554a;
}

/*section4*/
/*#section4 {
  /*height: 50vh;
}*/
.container-jewelry {
  position: relative;
  display: flex;
  justify-content: center;
}
.container-joyas {
  position: relative;
  padding: 20px;
  text-align: center;
  background-color: #ffffff;
  border-radius: 8px;
  margin-right: 132px; /* Espacio entre el área de enunciado y las tarjetas */
  bottom: -48px;
}
.container-joyas h3 {
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
  color: #0d554a;
}
.container-joyas p {
  color: #9095a0;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.container-joyas button {
  display: inline-flex;
  padding: 12px 59px;
  justify-content: center;
  align-items: center;
  border-radius: 26px;
  border: 1px solid;
  border-color: #0d554a;
  color: #0d554a;
}

.card-sliderp2 {
  position: relative;
  width: 300px; /* Ancho de cada tarjeta */
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  box-sizing: border-box;
  margin-right: 20px; /* Espacio entre las tarjetas */
  bottom: -48px;
  text-align: center;
}
.img-sliderp2 {
  max-width: 100%;
  height: auto;
  border-radius: 4px; /* Bordes redondeados para la imagen */
}


.container-tittleOur h2 {
  text-align: center;
  color: #0d554a;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 56px;
  padding-top: 40px;
}
.container-tittleOur {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 8px;
  margin-right: 70px;
  margin-left: 70px;
  padding-bottom: 40px;
}
#section6 {
  height: 50;
  display: flex;
  flex-wrap: wrap;
  background-color: #093931;
  padding: 20px;
  justify-content: space-around;
}
.fromthe h2 {
  position: relative;
  bottom: -60px;
  color: #fff;
  font-family: Cormorant Garamond;
  font-size: 48px;
  font-style: normal;
  font-weight: 500px;
  line-height: 68px;
 
}
.fromthe p {
  position: relative;
  bottom: -20px;
  color: #fff;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 26px;
}
.carousel {
  display: flex;
  background-color: #02241e;
  justify-content: space-around;
  padding-right: 30px;
}

.imagenfinal {
  width: 100%;
  /*height: 375px;
  flex-shrink: 0;*/
}
.parrafoImg {
  color: #fff;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  width: 324px;
  padding-left: 20px;
  text-align: start;
}
.carousel h3 {
  color: #fff;
  padding-left: 20px;
}

.iconosA {
  width: 31px;
  height: 31px;
  flex-shrink: 0;
}
.iconosA {
  position: relative;
  bottom: -40px;
  width: 52px;
  height: 52px;
  display: flex;
  gap: 10px;
  padding-left: 200px;
}
/* Footer styles */
.information-containerF {
  display: flex;
  justify-content: space-evenly;
  background-color: #093931;
  color: white;
}
.items-pages {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  list-style: none;
}

.icons-container {
  background-color: #093931;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 12%;
  padding-right: 12%;
  color: white;
}
.search {
  margin-top: 10px;
}
.search input {
  border: 1px white solid;
  background-color: #093931;
  padding: 7px 132px 6px 12px;
  border-radius: 18px 0px 0px 18px;
  margin-right: -10px;
}
.search input::placeholder {
  color: white;
  font-size: 14px;
  line-height: 22px;
  font-family: "Manrope", sans-serif;
}
.search button {
  border: none;
  color: #6b4a09;
  font-size: 14px;
  background-color: #f2c66d;
  text-align: center;
  padding: 7px 24px 7px 24px;
  border-radius: 0px 18px 18px 0px;
}


@media screen and (max-width: 767px) {
  header nav {
    display: none;
  }
  .container-iconhamburger {
    display: block;
  }
  /*----Section1----*/
  .section1 {
    height: 180vh;
  }
  .container-title {
    padding-left: 0%;
    padding-top: 0%;
    height: 180vh;
  }
  .texto-section1 {
    position: relative;
    top: 600px;
    padding: 20px;
  }
  .section1-imagenes{
    position: relative;
    top: -420px;
    height: 50vh;
  }
  .primeraimagen {
    width: 400px;
    height: 500px;
  }
  .segundaimagen {
    width: 241px;
    height: 321px;
    margin-top: 20px;
    right: 20px;
  }
 /*----Section2----*/
 .container-services {
  width: 100%;
  flex-wrap: wrap;
}
.container-featured {
  flex-wrap: wrap;
  gap: 10px;
}
.collections-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  justify-content: center;
}
.img-collection {
  width: 100%;
}
/*----Section3----*/
.container-jewelry {
  flex-wrap: wrap;
  height: 100%;
  gap: 10px;
}

.card-sliderp2 {
  width: 350px; 
  padding: 12px;
}
.img-sliderp2 {
  width: 100%;
}
/*----Section6----*/
.container-section6 {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.fromthe {
  width: 100%;
  padding: 20px;
}
.container-section6 {
  padding-left: 34px;
}
.information-containerF {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.container-barrab {
  padding: 10px;
}
.icons-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding-top: 20px;
}
}

          /*--Celular--*/
@media screen and (max-width: 576px) {
  header {
    width: 700px;
  }
  .container-iconhamburger {
    display: block;
  }
  /*----Section1----*/
  .container-section1 {
    display: flex;
    width: 700px;
    flex-wrap: wrap;
    gap: 10px;
  }

  .section1 {
    width: 700px;
  }

  .container-title {
    width: 100%;
  }

  .texto-section1 {
    text-align: center;
  }
  
 /*----Section2----*/
 #section2 {
  width: 700px;
 }
.container-enunciado {
  width: 700px;
  margin-left:100px;
}

.card-sliderP {
  width: 350px;
}

/*---section3---*/
#section3 {
  width: 700px;
 }

/*---Section4---*/
#section4 {
  width: 700px;
 }

.container-joyas {
  width: 700px;
  margin-left:100px;
}
/*---Section5---*/
#section5 {
  width: 700px;
 }

.container-tittleOur {
  width: 100%;
  margin-right: 0px;
  margin-left: 0px;
}
.container-tittleOur h2 {
  font-size: 30px;
}

/*----Section6----*/
#section6 {
  width: 700px;
 }

.fromthe h2 {
  bottom: 30px;
}
.fromthe p {
  bottom: 30px;
}

.container-section6 {
  padding-left: 0px;
}
.carousel {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.iconosA  img{
  width: 35px;
  height: 35px;
}
.iconosA {
  bottom: -30px;
  padding-left: 300px;
}
/*----FOOTER----*/
.section-footer {
  width: 700px;
 }
}




